body 
{
    font-family: "League Spartan", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5ED;
    color: #293731;
}

header 
{
    background-color: #293731;
    color : white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav 
{
    margin-left: auto;
}

header nav ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

header nav ul li a
{
    color: white;
    text-decoration: none;
}

#logo img 
{
    width: 20%;
    height: auto;
}

.content 
{
    text-align: center;
    padding: 20px;
}

.content h1 
{
    margin-bottom: 20px;
}

.tabs
{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.tabs button
{
    background-color: #F5F5ED;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tabs button:hover
{
    background-color: #DDD;
}

.main-image img 
{
    width: 80%;
    max-width: 600px;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}

.description
{
    margin-bottom: 30px;
    font-size: 16px;
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}   

.gallery-item img 
{
    width: 150px;
    max-width: 150px;
    border: 2px solid #CCC;
    border-radius: 50%;
    margin-bottom: 10px;
}

.gallery-item p 
{
    font-size: 14px;
    color: #555
}

footer
{
    background-color: #293731;
    color: white;
    text-align: center;
    padding: 20px;
}

footer nav ul 
{
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav ul li a
{
    color : white;
    text-decoration: none;
}

#scroll-top 
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
