body 
{
    font-family : "League Spartan", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5ED;
}

header 
{
    background-color: #293731;
    color : white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav 
{
    margin-left: auto;
}

header nav ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

header nav ul li a
{
    color: white;
    text-decoration: none;
}

#logo img
{
    width: 20%;
    height: auto;
}

.section1
{
    background-image: url("Photos/thought-catalog-OJZB0VUQKKc-unsplash.jpg");
    background-position: center;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 20%;
}

.section2
{
    background-image: url("Photos/manki-kim-L82-kkEBOd0-unsplash.jpg");
    background-position: center;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 20%;
}

.section3
{
    background-image: url("Photos/kenny-eliason-H75ExNeczEM-unsplash.jpg");
    background-position: center;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 15%;
}

footer nav ul 
{
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav ul li a
{
    color : white;
    text-decoration: none;
}

